<!DOCTYPE html>
<html lang="pt">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
.div-1 {
        background-color: #E9967A;
    }
.material-icons {vertical-align:-14%}
</style>
<head>
    <title>Menu Médico | Gestão de Processo Clínico</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
{% for group in user.groups.all %}
    {% if group.name == 'Médicos'  %}
        <body>
        <div class="w3-padding w3-xlarge w3-text">
              <h3>Hospital | Médico </h3>
            </div>
             <div class="w3-padding w3-xlarge div-1 w3-text-white">
       		<a href="/hospital/menumedico"<i class="material-icons">home</i></a>
    		<a href="/hospital/logout" <i class="material-icons">person</i></a>
    		<b>Registar Ato Médico</b>
         </div>
        <ul>
            <p>Selecione os dados relativos ao seu ato: </p>
            <form method="post" action=" "> {% csrf_token %}
                 {{ form.as_p }}
                <input type="submit" value="Adicionar">
                <br/>
                <br/>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
            <br/>
            <br/>
            <p><a href="/hospital/menumedico">Voltar atrás</a> | <a href="/hospital/logout">Fazer logout</a></p>
        </ul>
        </body>
    {% else %}
        <body>
        <div class="w3-panel div-1 w3-text-white">
        <h3>Não tem acesso a esta página.</h3>
        </div>
        <a href="/hospital/logout" class="w3-bar-item w3-button">Logout e redirecionamento para login</a>
        </body>
    {% endif %}
{% endfor %}
</html>
