<!DOCTYPE html>
<html>
<title>Home | Gestão de Processo Clínico</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
.material-icons {vertical-align:-14%}
</style>

<body>
<div class="w3-container">
<h3>Home | Login</h3>

  <div class="w3-padding w3-xlarge w3-teal">
    Inicie Sessão
  </div>

  <ul class="w3-ul">
      <br/>
      <br/>
      <br/>
      <br/>
    <li class="w3-jumbo"><center><i class="material-icons w3-jumbo">person</i>
        <h3><a style="text-align:center" href="/admin" class="w3-btn w3-teal w3-round-xlarge">Admin</a></h3>
        <h3><a style="text-align:center" href="/hospital" class="w3-btn w3-teal w3-round-xlarge">Utilizador</a></h3>


</div>

</body>
</html>