<!DOCTYPE html>
<html lang="pt">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
.material-icons {vertical-align:-14%}
.div-1 {
        background-color: #A9A9A9;
    }
</style>
<head>
    <title>Menu Funcionário | Gestão Processo Clínico</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
 {% for group in user.groups.all %}
    {% if group.name == 'Funcionário'  %}
        <body>
            <div class="w3-padding w3-xlarge w3-text">
              <h3>Hospital | Funcionário</h3>
            </div>
             <div class="w3-padding w3-xlarge div-1 w3-text-white">
       		<a href="/hospital/menufuncionario"<i class="material-icons">home</i></a>
    		<a href="/hospital/logout" <i class="material-icons">person</i></a>
    		<b>Estatísticas Utentes</b>


  </div>
            <ul>
            {% csrf_token %}
            <h4><input class="w3-input" type="text"><b>Utente com mais atos médicos: </b>{{ utmax }}<br/></h4>
            {% csrf_token %}
            <h4><input class="w3-input" type="text"><b>Número médio de atos médicos por utente: </b>{{ mediaU }}<br/></h4>
            {% csrf_token %}
            <h4><input class="w3-input" type="text"><b>Utente com mais atos de enfermagem: </b>{{ utmaxe }}<br/></h4>
            {% csrf_token %}
            <h4><input class="w3-input" type="text"><b>Número médio de atos de enfermagem por utente: </b>{{ mediaUE }}<br/></h4>
            {% csrf_token %}
            </ul>
        </body>
    {% else %}
        <body>
            <div class="w3-panel div-1 w3-text-white">
                <h3>Não tem acesso a esta página.</h3>
            </div>
            <br/>
            <a href="/hospital/logout" class="w3-bar-item">Logout e redirecionamento para login</a>
            <br/>
        </body>
    {% endif %}
{% endfor %}
</html>